.hoverowyLabel:hover {
    -fx-text-fill: darkgreen;
    -fx-cursor: hand;
}

.przejscieMiedzyTuramiLabel {
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.borderek {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-background-width: 2;
    -fx-border-radius: 10;
}

.button {
    -fx-cursor: hand;
}