.hoverowyLabel:hover {
    -fx-text-fill: darkgreen;
    -fx-cursor: hand;
}

.borderek {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-background-width: 2;
    -fx-border-radius: 10;
}

.button {
    -fx-cursor: hand;
    /*-fx-padding: 25%;*/
    /*-fx-background-color: black;*/
}